@import "../../../styles/keyframes";
@import "../../../styles/node";

.Node {
  @include node;
}

.NodeFinish {
  background-color: red;
}

.NodeStart {
  background-color: green;
}

.NodeWall {
  background-color: rgb(12, 53, 71);
}
